/* Impor tiga layer dasar Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Anda dapat menambahkan style global kustom Anda di bawah ini
  jika diperlukan, tetapi umumnya biarkan kosong
  dan gunakan kelas utilitas Tailwind/daisyUI.
*/
body {
  /* Contoh: Menambahkan font-smoothing untuk tampilan teks yang lebih baik */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}